<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
</head>
<body>
<ul id="navigation">
    {% for item in the %}
        {{ item.JobNumber }}+{{ item.Sex }}
    {% endfor %}
</ul>
{{ go }}
<h1>My Webpage</h1>
{{ the }}
</body>
</html>
