{% extends "Layout/Main.twig"  %}

{% block header %}
  <!-- DataTables -->
  <link rel="stylesheet" href="/assets/plugins/datatables/dataTables.bootstrap.css" />
{% endblock %}

{% block Content %}
    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            {#<div class="box-header">#}
              {#<h3 class="box-title">Data Table With Full Features</h3>#}
            {#</div>#}
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>订单编号</th>
                  <th>顾客</th>
                  <th>总价</th>
                  <th>下单时间</th>
                  <th>预定时间</th>
                  <th>订单状态</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>订单编号</th>
                    <th>顾客</th>
                    <th>总价</th>
                    <th>下单时间</th>
                    <th>预定时间</th>
                    <th>订单状态</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
{% endblock %}

{% block footer %}
    <!-- DataTables -->
    <script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/assets/js/datatable.js"></script>
    <!-- page script -->
    <script>
    $(function () {
        $('#example1').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                "url": "/orders",
                "type": "POST"
            },
            columns: [
                { "data": "OrderID" },
                { "data": "OrderNum" },
                { "data": "customer" },
                { "data": "SumPrice" },
                { "data": "CommitTime" },
                { "data": "BookFitTime" },
                { "data": "OrderStatus" }
            ],
            columnDefs: [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                }
            ],
            language:{url: "/assets/plugins/datatables/locals/zh-cn.json"}
        });
    });
    </script>
{% endblock %}